.reveal .slide-logo {
    height: 70px !important;     
    width: auto !important;      
    position: absolute !important;
    max-height: none !important;   
    max-width: none !important;   
    top: 20px;                    
    right: 40px;                  
}

.reveal footer {
  font-size: 1em;
  text-align: center;
}

.reveal table {
  font-size: 0.6em;          /* Relativ zur Basisgröße */
  line-height: 1.2;
}

.reveal .smaller-table {
  transform: scale(0.85);  /* Skaliert die ganze Tabelle */
  transform-origin: top left;
}

